#GridBackground
{
	--grid-background-color: var(--dg-colors-grid-light-gray-1);
	--line-color: var(--dg-colors-grid-light-gray-2);
	--thick-line-color: var(--dg-colors-grid-light-gray-3);
	--spacing: var(--dg-metrics-grid-25);
}